.editor {
  padding: 0.5rem;
  justify-content: space-between;
  background-color: #f8f1f1;
  align-items: center;
  font-weight: 600;
  margin: 10px auto 10px;
  box-shadow: 0 2px 3px #ccc;
  padding: 3px;
  border-radius: 10px;
  text-align: center;
  padding: 10px 3% 20px;
}

.editor p {
  color: #af0069;
}

.editor input {
  border-style: solid;
  border-color: #af0069;
  border-width: 2px;
  border-radius: 5px;
}

.editor input:focus {
  border-color: #af0069;
}

button {
  border: none;
  background: none;
}

button:focus {
  outline: none;
}

.save-btn::before {
  content: '\f058';
  color: #00b74a;
  font-family: FontAwesome;
  font-size: 1.3em;
  opacity: 0.6;
  cursor: pointer;
  margin-left: 10px;
}

.entry-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-weight: 600;
}

.entry {
  display: flex;
  justify-content: space-between;
  background-color: #fcfcfc;
}

.controls {
  margin-left: 13px;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}
