.entry-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-weight: 600;
}

.entry {
  display: flex;
  justify-content: space-between;
  background-color: #fcfcfc;
}

.controls {
  margin-left: 13px;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

@media only screen and (max-width: 600px) {
  .entry {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .entry p {
    margin: 1px 0 2px;
    padding: 0;
  }

  .btn {
    line-height: 3px;
  }
}
